@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');


.homeContainer{
    display: flex;
    /* height: 100vh; */
    background-color: #fff;
    background-image: url("../../resources/paw-1345885_640.png");
    background-size: 200px;
    background-repeat: repeat;
    opacity: 90%;
    animation: fadein 0.5s;
}

@keyframes fadein {
    0% {
    opacity:0;
    }
    10%{
        opacity: 10%;
    }
    20%{
        opacity: 20%;
    }
    30%{
        opacity: 30%;
    }
    40%{
        opacity: 40%;
    }
    50%{
        opacity: 50%;
    }
    60%{
        opacity: 60%;
    }
    70%{
        opacity: 70%;
    }
    80%{
        opacity: 80%;
    }
    90%{
        opacity: 90%;
    }
    100% {
        opacity: 100%;
    }
}

.home{
    /* height: 90vh; */
    width: 90%;
    max-width: 1600px;
    margin: auto;
    box-shadow: 0px 10px 10px black;
    /* display: grid; */
    /* grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr); */
    /* overflow: hidden; */
    background-color: #f7f5e4;
    animation: fadein 0.3s;
    /* transition: all 0.2ms; */
}

.menuContainer{
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}


.menuElement {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px; 
}



.menuElement select {
    font-family: 'Sansita', sans-serif;
    background-color: #1abc9c;
    color: #fff;
    font-size: 1.1rem;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 11px;
    text-indent: 0.01px;
    text-overflow: '';
    text-align: center;
    -webkit-appearance: button; 
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.menuElement::before,
.menuElement::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.menuElement::after { 
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.menuElement::before { 
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 11px;
}

.menuElement select[disabled] {
    color: rgba(0,0,0,.3);
}

.menuElement select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.menuElement::before {
background-color: rgba(0,0,0,.15);
background-color: transparent;

}

.menuElement::after {
        color: rgba(0,0,0,.4);
}

.menuElement:hover {
    opacity: .7;
}



.menuButton {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    font-family: 'Sansita', sans-serif;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    padding: 10px 28px;
    border-radius: 11px;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #1abc9c;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    cursor: pointer;
   }
   
   .menuButton:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(-5px) scale(1.05);
   }
   
   .menuButton:active {
    background-color: transparent;
    border-color: #1DC9A0;
    color: #1DC9A0;
    transform: translateY(5px) scale(0.95);
   }
   
   .menuButton:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
   }


.dogsContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
    /* animation: fadein 0.9s 0.8s;
    transition: all 300ms; */
}

