@import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

.container{
    border-radius: 23px 20px 20px 15px;
    -moz-border-radius: 23px 20px 20px 15px;
    -webkit-border-radius: 23px 20px 20px 15px;
    border: 4px outset #000000;
    transition: all 300ms;
    /* background-color: rgb(200, 200, 200); */
    width: 300px;
    height: 600px;
    /* color: #683398; */
    color: #131313;
}

.container:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.name{
    font-family: 'Sansita', sans-serif;
}

.name--transform{
    font-family: 'Sansita', sans-serif;
}

.info{
    font-family: 'Sansita', sans-serif;
}

.info--transform{
    font-family: 'Sansita', sans-serif;
}

.image{
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}